* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

body {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
}

header {
  width: 100vw;
  height: 50px;
}

#canvas {
  background-color: rgb(255, 255, 255);
  overflow: scroll;
}

h2 {
  text-decoration: underline;
}

.node-alpha {
  z-index: 2;
  padding: 3px 5px;
  color: rgb(173, 0, 173);
  font-weight: bolder;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.absolute {
  position: absolute;
}

.data-display {
  z-index: 2;
  height: 100vh;
  background-color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  overflow-y: scroll;
}

.data-display hr {
  width: 75%;
}

#lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

#relationships {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

.node-position {
  display: flex;
}

.node-position p {
  margin: 0px 5px;
}
